In data analysis exercise we generally do the following:
   
Rows | Records | Observations
Columns | Fields | Variables

1. Data availability or data import
    get data from files: read_xxxx()
    get the data from databases: pyodbc

2. Understand what needs to be done
    EDA - Exp. Data Analysis
    Charts
    
    Metadata Inspection: Information about the structure of the data
    .dtypes, .shape, .ndim, .columns
    .count(), type()
    
    .info()
       
    Data Inspection: How is the data available and what needs to be performed on the data for furhetr processing
    
    .count(), .mean(), .std(), .min(), .max(), .quantile()
    .describe()
    .head(), .tail()
    
    five point summary:
    min | p0
    q1 | p25
    q2 | p50 | median
    q3 | p75
    max | p100
    
3. Data Prep | Data Cleaning | Data Wrangling | Data Munging
    
    Structure Changes:
    -------------------------
    
    Subsetting
        [] - will be confusing
        .loc[:, ] - to get the data using UDI
        .iloc[:, ] - to get the data using DI
        .column_name - can get only one variable, and that too if variable name follows the INC rules
    
    Reorder the variables
        .loc[:, ], .iloc[:, ], []
    
    Calculated variables
    
        **following will make the data changes permanently
        [ new_variable_name ] = calculated_variable
        .loc[ :, new_variable_name ] = calculated_variable
        .insert()   
        
        **following will make the data changes temporary
        .assign()
        
        .iloc[ new_variable_name ] = calculated_variable    ** THIS operation is NOT possible
    
    Rename
        .rename( columns = {}, inplace = )
        .columns = new_column_names
       
    drop the variables
        .drop( columns = [], inplace = )
    
    Data type conversion
        .astype()
        
        ** we have NOT discussed following methods, will discuss in next week
        pd.to_numeric()
        pd.to_datetime()
        
    
    Data Changes:
    -------------------------
    How to update the data
    Filters
        Manual Filters
            .head(), .tail()
            [] - only using slicers
            .iloc[]
            .loc[]
        
        Conditional Filters
            [], .loc[]
        
    Sorting
        .sort_values( by = , ascending = , inplace = , ignore_index = , na_position = , kind =  )
        .sort_index( axis = , ..... )
        
    Duplicates
        .duplicated( subset = , keep = )
        .drop_duplicates( subset = , keep = , inplace = , ignore_index = )
    
    Outliers
        outlier detection
            percentile, iqr, std 
            lc and uc
            .quantile(), .std(), .mean()
        
        outlier treatment
            .clip( lower = , upper = , inplace = )
    
    Missing values
        missings %ages
            .isna(), .isnull(), .notna(), .notnull(), .count(), .shape[0]
        
        missing value treatment (DataFrames)
            drop the variable
                .dropna( axis = 1, thresh = , how = , inplace =  )
            
            drop the obs
                .dropna( axis = 0, subset = , inplace =  )
            
            imputation (Series)
                mean, median, mode
                static
                predictive models
                
                .fillna( value, inplace =  )
    
    Groups and Bins
    Summaries
    Combine the datasets
        Joins/Merge
        Append/Union
        Concat/Horizontal append
    Functions
        
4. BI : Reports, Charts and Dashboards / Presentations
   Formats
   
5. Predictive Analytics

In [1]:
import numpy as np
import pandas as pd

In [3]:
stores = pd.read_csv('D:/SampleData/stores_new.csv')

In [5]:
stores.isna().sum() / stores.shape[0]

StoreCode          0.00000
StoreName          0.00000
StoreType          0.00000
Location           0.00000
OperatingCost      0.00000
Staff_Cnt          0.00000
TotalSales         0.00000
Total_Customers    0.00000
AcqCostPercust     0.09375
BasketSize         0.00000
ProfitPercust      0.00000
Dummy              1.00000
OwnStore           0.00000
OnlinePresence     0.00000
Tenure             0.00000
StoreSegment       0.00000
dtype: float64

In [15]:
stores.dropna( axis = 0, subset = ['AcqCostPercust'] ).head(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,NaN,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,NaN,0,1,4,4

In [16]:
stores[ stores.AcqCostPercust == np.NAN ]

Empty DataFrame
Columns: [StoreCode, StoreName, StoreType, Location, OperatingCost, Staff_Cnt, TotalSales, Total_Customers, AcqCostPercust, BasketSize, ProfitPercust, Dummy, OwnStore, OnlinePresence, Tenure, StoreSegment]
Index: []

In [20]:
# get the obs where AcqCostPercust is missing
stores[ stores.AcqCostPercust.isna() ]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.07,17.4,NaN,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.73,17.6,NaN,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.78,18.0,NaN,0,0,3,3

In [21]:
stores.AcqCostPercust.mean()

3.651034482758621

In [23]:
# impute the data in the AcqCostPercust with the mean value
stores.AcqCostPercust.fillna( stores.AcqCostPercust.mean() ).head(2)

0    3.9
1    3.9
Name: AcqCostPercust, dtype: float64

In [26]:
10 * np.NAN

nan

In [27]:
# assign the missing value in the obs index# 12 in StoreType variable
stores.loc[ 12, 'StoreType' ] = np.nan

In [29]:
stores.StoreType[11] = np.nan # not recomended

<ipython-input-29-b58055c2b717>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stores.StoreType[11] = np.nan

### Categorical vs Continuous variables

Cardinality: No of UNIQUE values in a variable

EmpID: 1001, 1002, 1003, .....
Gender: 0, 1
Years of exp: 0, 1, 2, 3, 4, ...
Salary: ......
DOB: 12 Nov 1990, 20 Jul 2002, ....
Location: N, S, E, W
Dept: Sales, IT, SS, Finance, ...
Desig: 1, 2, 3, 4, 5
Taxes: .......

Categorical
    EmpID: 1001, 1002, 1003, .....
    Gender: 0, 1
    Location: N, S, E, W
    Dept: Sales, IT, SS, Finance, ...
    Desig: 1, 2, 3, 4, 5
    DOB: 12 Nov 1990, 20 Jul 2002, ....
    Date and/or Time or date parts will all be categorical
    
    Further classified as 
    1. Nominal: Which dont have a order
    2. Ordinal: Which have a order
    
Continuous
    Years of exp: 0, 1, 2, 3, 4, ...
    Salary: ......
    Taxes: .......
    
    No of days, no of years, no of months, ...... will be continuous valriables
    

All object type variables will be categorical

Numeric varibales can be mix of Continuous and Categorical

### Groups and Bins

Age: 11 - 90

Groups:
Teenage: <= 19
Young: 20 - 25
Adult: 26 - 45
....
    

Bins:
11 - 20
21 - 30
31 - 40
...
81 - 90

**To create a categorical variable from continuous variable**

Bins: Equal Freq distribution tables. Applicable only on continuous variables.
    Any chart created on top of bins is known as HISTOGRAM / DISTRIBUTION CHART
    **should be created on one Series object
    
    
Groups: Combine the multiple values into higher level either manually or logically
    We can create groups on categorical and/or continuous variables as well
    **should be created on one or multiple Series object

pd.cut() - bins
Bin size should be sames

pd.qcut() - groups
No of obs in each group should be same

np.where() - groups

In [33]:
# we control the # of bins
pd.cut( stores.TotalSales, 10 ).head(2)

0    (151.28, 191.37]
1    (151.28, 191.37]
Name: TotalSales, dtype: category
Categories (10, interval[float64]): [(70.699, 111.19] < (111.19, 151.28] < (151.28, 191.37] < (191.37, 231.46] ... (311.64, 351.73] < (351.73, 391.82] < (391.82, 431.91] < (431.91, 472.0]]

In [35]:
# we control the class interval / bin size
pd.cut( stores.TotalSales, np.arange(0, 501, 50) ).head(2)

0    (150, 200]
1    (150, 200]
Name: TotalSales, dtype: category
Categories (10, interval[int64]): [(0, 50] < (50, 100] < (100, 150] < (150, 200] ... (300, 350] < (350, 400] < (400, 450] < (450, 500]]

In [39]:
# create groups with pd.cut. Values in the list should ALWAYS be in the asc order
pd.cut( stores.TotalSales, [0, 100, 120, 270, 300, 350, 450, 500] ).head(2)

0    (120, 270]
1    (120, 270]
Name: TotalSales, dtype: category
Categories (7, interval[int64]): [(0, 100] < (100, 120] < (120, 270] < (270, 300] < (300, 350] < (350, 450] < (450, 500]]

To divie the data based on 
1. Median: use 2
2. Quantile: use 4
3. Deciles: use 10
    
Decile analysis: will discuss in the modelling classes

In [43]:
# get equal no of obs in each group
pd.qcut( stores.TotalSales, 10 ).head(2)

0    (142.06, 160.0]
1    (142.06, 160.0]
Name: TotalSales, dtype: category
Categories (10, interval[float64]): [(71.09899999999999, 80.61] < (80.61, 120.14] < (120.14, 142.06] < (142.06, 160.0] ... (275.8, 303.1] < (303.1, 350.8] < (350.8, 396.0] < (396.0, 472.0]]

In [46]:
# to create the groups: np.where()
# syntax of if of excel: if( condition, true_value, false_value )

# Create a grouped column with values as High and Low based on TotalSales (mean)
pd.Series( np.where( stores.TotalSales >= stores.TotalSales.mean(), 'High', 'Low' ) )

0      Low
1      Low
2      Low
3     High
4     High
5      Low
6     High
7      Low
8      Low
9      Low
10     Low
11    High
12    High
13    High
14    High
15    High
16    High
17     Low
18     Low
19     Low
20     Low
21    High
22    High
23    High
24    High
25     Low
26     Low
27     Low
28    High
29     Low
30    High
31     Low
dtype: object

In [75]:
stores.Location.str.upper().head(2)

0    DELHI
1    DELHI
Name: Location, dtype: object

In [74]:
np.random.randint(0, 11, 10)

array([0, 2, 9, 8, 2, 5, 0, 4, 6, 0])